@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Level 11, 200 Bourke Street<br />
    Melbourne, VIC 3000<br />
    <abbr title="Phone">Phone us:</abbr>
    (03)56563100
</address>

<address>
    <strong>General Query:</strong>   <a href="mailto:info@funsailmel.com">info@funsailmel.com</a><br />
    <strong>Sponsorship:</strong> <a href="mailto:sponsorship@funsailmel.com">sponsorship@funsailmel.com</a>
</address>