@{
    ViewBag.Title = "Home";
}

    <div class="jumbotron">
        <h1>FunSailMel</h1>
        <p class="lead">FunSailMel is an online booking website for hiring boat to sail in Melbourne.</p>
        <img srcset="~/images/topimage_320px.jpg 320w,
                     ~/images/topimage_640px.jpg 640w,
                     ~/images/topimage_1000px.jpg 1000w"
             sizes="(max-width: 639px) 260px,
                    (max-width: 1199px) 580px,
                    1000px"
             src="~/images/topimage_1000px.jpg" />
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>